* {
    box-sizing: border-box;
    margin: 0;
}

.navbar-brand {
    border: black solid 4px;
    background-color: blanchedalmond;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.container,
.fa-mug-hot {
    position: absolute;
    top: 1vh;
    left: 3vw;
}

.fa-mug-hot {
    color: black;
}

.fa-mug-saucer {
    color: rgb(236, 27, 27);
}
